.inactive {

}

.active {
    stroke: red;
    stroke-width: 3px;
}

.selectionView {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.coloredSquare {
    width: 20px;
}

.inline {
    display: inline;
}

.selection {
    display: block;
}

body {
    font-size: larger;
    width: 100%;
    height: 100%;
    position: absolute;
}


#main-recent-filter-inner {
    background-color: white;
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius:2px;
    border-width:0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
  
.main-recent-filter-body:after { 
    content: " "; 
    display: block;
    clear: both;
} 

#main-recent-filter {
    position: relative;
    display: none;
    z-index: 1000;
    width: 100%;
    max-height: 100%;
    min-width: 100px;
    /* width: 30%;
    height: 15%; */

}

#container {
    width: 69%;
    height: 100%;
    display: block;
    border: 1px solid black;
    overflow: scroll;
    float: right;
}
#containerMenue {
    overflow: hidden;
    display: block;
    width: 30%;
    height: 100%;
    border: 1px solid black;
    float: left;
}